@mixin visit-input-style {
    margin-bottom: 10px;
    padding: 10px 5px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 5px;
    width: 250px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,700;0,400&display=swap');
.wrapper{
    background-image: url(img/background-img.png);
    padding: 0 20px;
    padding-bottom: 60vh;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.hide-block{
    display:none;
}

.test-header{
    display: flex;
    justify-content: space-evenly;
    margin: 20px;
    
}
.test{
    background-color: green;
    color:white;
    border:none;
    border-radius: 5px;
    cursor:pointer;
    padding: 10px 10px;
    font-size: 20px;
}
.create-visit-block{
   position: fixed;
   width: 100%;
   height: 100%;
    background-color:rgba(0, 0, 0, 0.6) ;
}
.create-visit-block__wrapper{
    background-color: #fff;
    position: fixed;
    left: 70vh;
    top: 20vh;
    padding: 50px;
    text-align: center;
}
.wrapper__close-btn{
    position: absolute;
    right: 0;
    top: 3px;
    right: 2px;
}
.wrapper__title{
    color:black;
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;

}


// .form-block__main{
    
// }
.main__wrapper{
    display:flex;
    flex-direction: column;
    flex-flow: row;
    text-align: left;
}
.value-therapist{
    margin-left:15px;
}
.value-dentist{
    margin-left:15px;
}
.value-cardiologist{
    margin-left:15px;
}
.main-paragraph{
    display: flex;
    flex-direction:column;
}
.main_item{
    @include visit-input-style
}
.main_item-therapist{
    @include visit-input-style
}
.main_item-dentist{
    @include visit-input-style
}
.main_item-cardiologist{
    @include visit-input-style
}
.main_item:active{
    border: 1px solid gray;
}
.wrapper__bottom-btn{
    margin-top: 20px;
    background-color: green;
    color:white;
    border:none;
    border-radius: 5px;
    cursor:pointer;
    padding: 10px 10px;
    font-size: 20px;
    text-align: center;
}
#error-form-value{
    color: red;
    font-size: 18px;
}

.filter-block > .main_noItems {
    text-align: center;
    font-size: 25px;
   margin-left: 100px;
}
.error-empty-value{
    font-size: 18px;
    font-weight: bold;
    color: red;
}