@mixin visit-input-style {
    margin-bottom: 10px;
    padding: 10px 5px;
    border: 1px solid gray;
    border-radius: 5px;
    margin-top: 5px;
    width: 250px;
    box-sizing: border-box;
}

@mixin form-input-block{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}
.edit-card-block{
    position: fixed;
    width: 100%;
    height: 100%;
     background-color:rgba(0, 0, 0, 0.6) ;
}
.card-block__wrapper{
    background-color: #fff;
    position: fixed;
    left: 70vh;
    top: 20vh;
    padding: 50px;
    text-align: center;
}
.wrapper__edit-title{
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}
.wrapper__close-edit-block{
    position: absolute;
    right: 5px;
    top: 7px;
}
.wrapper__edit-card-form{
   display: flex;
   text-align: left;
}
.edit-card-form__main{
    @include form-input-block
}
.edit-card-form__therapist{
    @include form-input-block
}
.edit-card-form__dentist{
    @include form-input-block
}
.edit-card-form__cardiologist{
    @include form-input-block
}
.edit-card-form__value{
    @include visit-input-style
}

.edit-value-therapis{
    display: flex;
    flex-direction: column;
    margin-left:30px;
}

.edit-card-form__btn{
    margin-top: 20px;
    background-color: green;
    color:white;
    border:none;
    border-radius: 5px;
    cursor:pointer;
    padding: 10px 10px;
    font-size: 20px;
    text-align: center;
}
.edit-card-form__value-therapist{
    @include visit-input-style
}
.edit-card-form__value-dentist{
    @include visit-input-style
}
.edit-card-form__value-cardiologist{
    @include visit-input-style
}