.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.header-btn{
    background-color: green;
    color:white;
    border:none;
    border-radius: 5px;
    cursor:pointer;
    padding: 10px 10px;
    font-size: 20px;
}

.main{
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
    padding: 20px;
}

#btn__createVisit{
    display: none;

}
.logIn-block{
    display: none;
}

