.edit-card-block {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); }

.card-block__wrapper {
  background-color: #fff;
  position: fixed;
  left: 70vh;
  top: 20vh;
  padding: 50px;
  text-align: center; }

.wrapper__edit-title {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px; }

.wrapper__close-edit-block {
  position: absolute;
  right: 5px;
  top: 7px; }

.wrapper__edit-card-form {
  display: flex;
  text-align: left; }

.edit-card-form__main {
  display: flex;
  flex-direction: column;
  margin-left: 30px; }

.edit-card-form__therapist {
  display: flex;
  flex-direction: column;
  margin-left: 30px; }

.edit-card-form__dentist {
  display: flex;
  flex-direction: column;
  margin-left: 30px; }

.edit-card-form__cardiologist {
  display: flex;
  flex-direction: column;
  margin-left: 30px; }

.edit-card-form__value {
  margin-bottom: 10px;
  padding: 10px 5px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 5px;
  width: 250px;
  box-sizing: border-box; }

.edit-value-therapis {
  display: flex;
  flex-direction: column;
  margin-left: 30px; }

.edit-card-form__btn {
  margin-top: 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 10px;
  font-size: 20px;
  text-align: center; }

.edit-card-form__value-therapist {
  margin-bottom: 10px;
  padding: 10px 5px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 5px;
  width: 250px;
  box-sizing: border-box; }

.edit-card-form__value-dentist {
  margin-bottom: 10px;
  padding: 10px 5px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 5px;
  width: 250px;
  box-sizing: border-box; }

.edit-card-form__value-cardiologist {
  margin-bottom: 10px;
  padding: 10px 5px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 5px;
  width: 250px;
  box-sizing: border-box; }
