.filter-block {
  padding: 30px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: end;
  border: 3px solid black;
  border-radius: 10px; }

.filter-block__input-header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  border-radius: 3px; }

.input-header__title-text {
  text-align: center;
  font-size: 18px; }

.delete-card-btn {
  position: absolute;
  right: 5px;
  top: 5px; }

.input-header__item {
  margin-bottom: 10px;
  padding: 10px 5px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 5px;
  width: 250px;
  box-sizing: border-box; }

.filter-block__visit-cards {
  display: flex;
  flex-direction: column;
  margin-left: 10vh;
  text-align: center; }

.visit-cards__item {
  border: 1px solid black;
  border-radius: 3px;
  margin-bottom: 10px;
  background-color: Gainsboro;
  padding: 15px 20px; }

.item__list {
  margin-bottom: 15px;
  width: 80vh;
  text-align: left; }

.list__value {
  padding: 10px 0; }

.item__bottom-btn {
  padding: 5px;
  background-color: green;
  border: none;
  color: white;
  border-radius: 6px;
  margin-right: 10px;
  cursor: pointer; }
