.logIn-block {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); }

.logIn-block__wrapper {
  background-color: #fff;
  position: fixed;
  left: 70vh;
  top: 20vh;
  padding: 50px;
  text-align: center; }

.wrapper__close-btn {
  position: absolute;
  right: 0;
  top: 3px;
  right: 2px; }

.logIn-block__title {
  color: black;
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px; }

.logIn-block-span {
  padding: 10px 0; }

.logIn-block_item {
  margin-bottom: 10px;
  padding: 10px 5px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-top: 5px;
  width: 250px;
  box-sizing: border-box; }

.logIn-block_item:active {
  border: 1px solid gray; }

.logIn-block__close-btn {
  position: absolute;
  top: 3px;
  right: 3px; }

.logIn-form {
  display: flex;
  flex-direction: column;
  text-align: left; }

.logIn__bottom-btn {
  color: white;
  background: green;
  border: 0;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  margin: 20px;
  cursor: pointer; }
